:root {
--main-bg-color:#101010;
--secondary-bg-color:#202020;
--main-text:#fff;
--main-sec:#65c0d7;
--code-quote-bg:#1d1f21;
--copyright:gray;
--border-color:#000
}

.icon-glow {
font-size:1.4em;
color:var(--main-sec);
filter:drop-shadow(0 0 3px var(--main-sec))
}

body {
background:var(--main-bg-color);
color:var(--main-text)
}

.__h_instagram.card {
border:1px solid var(--border-color)!important
}

pre {
background:var(--main-bg-color);
border:1px solid var(--border-color);
border-radius:5px
}

code {
background-color:transparent
}

.post .content .highlight table {
background-color:var(--main-bg-color)!important
}

blockquote {
background:var(--main-bg-color);
border-left:3px solid var(--main-sec)
}

table {
margin:1em auto;
border-collapse:collapse
}

table,th,td {
border:1px solid #5c5c5c
}

tr:hover {
background:#1d1f21
}

th {
background:var(--main-bg-color)
}

.post {
background:var(--secondary-bg-color);
border-left:1px solid var(--border-color);
border-right:1px solid var(--border-color);
border-top:1px solid var(--border-color);
border-radius:.2em;
box-shadow:0 1px 2px 0 #000000,0 2px 5px 0 #000
}

.post-preview .meta {
border-bottom:1px solid var(--border-color)
}

.post-footer-data {
background-color:var(--main-bg-color);
border-bottom:1px solid var(--border-color)
}

.post-footer hr {
color:var(--border-color)
}

.post .metadata {
background:var(--main-bg-color);
color:#dcddde
}

.content-item {
background:var(--secondary-bg-color);
border:1px solid var(--border-color);
border-radius:.2em;
box-shadow:0 1px 2px 0 #000000,0 2px 5px 0 #000
}

.content-item .meta {
border-top:1px dotted var(--border-color)
}

.rmore a {
background:var(--main-bg-color);
border:1px solid var(--border-color)
}

.rmore a:hover {
background:var(--secondary-bg-color)
}

.terms {
background:var(--secondary-bg-color);
border:1px solid var(--border-color);
box-shadow:0 1px 2px 0 #000000,0 2px 5px 0 #000
}

.terms .term {
border-bottom:1px dotted var(--border-color)
}

.err-404 {
border:1px solid var(--border-color);
border-radius:.2em;
background:var(--secondary-bg-color);
box-shadow:0 1px 2px 0 #000000,0 2px 5px 0 #000
}

.alert-warning {
border-left:3px solid #ffb961
}

.alert-warning .alert-heading {
color:#ffb961
}

.alert-caution {
border-left:3px solid #f66
}

.alert-caution .alert-heading {
color:#f66
}

.alert-important {
border-left:3px solid #a0c7f8
}

.alert-important .alert-heading {
color:#a0c7f8
}

.related-content .title {
font-weight:700
}

a,.__h_instagram .card-text,.rmore {
color:var(--main-text)
}

a:hover,.siteTitle a,.post .content h1,.post .content h2,.post .content h3,.post .content h4,.post .content h5,.post .content h6,.post .content a:hover,.social-link:hover,.nav-item-title:hover,.tag a:hover,.post-preview .title a,.post-list .title {
color:var(--main-sec)
}

.__h_instagram .card-header,.__h_instagram .card-body {
color:var(--main-bg-color);
background-color:#101010
}

.copyright,.poweredby,.poweredby a {
color:var(--copyright)
}

.post-preview,.related-content {
border:1px solid var(--border-color);
border-radius:.2em;
box-shadow:0 1px 2px 0 #000000,0 2px 5px 0 #000;
background:var(--secondary-bg-color)
}

.post-footer .date,.post-footer .updated {
color:#b2b2b2
}

.metadata .tags .tag a,.metadata .categories a,.metadata .series a,.metadata .syndicate a {
color:#dcddde
}

.content-item a:hover,.term a:hover {
text-decoration:underline;
color:var(--main-sec)
}

.alert-note,.alert-tip {
border-left:3px solid #9fe2bf
}

.alert-note .alert-heading,.alert-tip .alert-heading {
color:#9fe2bf
}
