@font-face {
font-family:"Geist";
src:url(/fonts/Geist.woff2) format("woff2");
font-weight:100 900;
font-style:normal;
font-display:swap
}

@font-face {
font-family:"Geist Mono";
src:url(/fonts/GeistMono.woff2) format("woff2");
font-weight:100 900;
font-style:normal;
font-display:swap
}

@font-face {
font-family:"Inclusive_Sans";
src:url(/fonts/InclusiveSans-Regular.ttf) format("truetype");
font-weight:100 900;
font-style:normal;
font-display:swap
}

@font-face {
font-family:"Ubuntu";
src:url(/fonts/UbuntuNerdFont-Regular.ttf) format("truetype");
font-weight:100 900;
font-style:normal;
font-display:swap
}

@font-face {
font-family:"Atkinson-Nerd";
src:url(/fonts/AtkynsonNerdFont-Regular.woff2) format("woff2");
font-weight:100 900;
font-style:normal;
font-display:swap
}

@font-face {
font-family:"AtkinsonHyperlegible";
src:url(/fonts/AtkinsonHyperlegible.woff2) format("woff2");
font-weight:100 900;
font-style:normal;
font-display:swap
}

.icon-glow,a,h2,.icon {
font-family:"Atkinson-Nerd"
}

.icon {
font-family:"Atkinson-Nerd"!important
}

body {
font-family:AtkinsonHyperlegible,sans-serif;
counter-reset:heading;
margin:0
}

.button8831 {
display:inline!important;
margin-left:2px;
margin-right:2px
}

#TableOfContents {
text-align:left
}

.toc-card {
position:sticky;
box-sizing:border-box;
top:2rem;
margin-top:1.5em
}

#TableOfContents > ul {
padding-left:1em;
margin-top:0;
margin-bottom:-1em
}

.card {
height:auto;
background-color:#121212;
border:1px solid #353535;
padding:1rem;
overflow:hidden;
padding-top:0;
padding-bottom:1em
}

.card > * {
margin:.3em 0 .4em
}

.layout-grid {
position:relative;
align-items:start;
align-content:stretch;
display:grid;
gap:1rem;
grid-template-columns:2fr 5fr;
grid-template-rows:auto
}

@media screen and (max-width: 800px) {
.layout-grid {
grid-template-columns:1fr
}
}

.column-right {
display:flex;
flex-direction:column;
width:100%;
gap:1rem
}

.column-left {
display:flex;
flex-direction:column;
width:100%;
height:100%;
position:relative;
gap:1rem
}

kbd {
background-color:#eee;
border-radius:3px;
border:1px solid #b4b4b4;
box-shadow:0 1px 1px #0003 0 2px 0 0 #ffffffb3 inset;
color:#333;
display:inline-block;
font-size:.85em;
font-weight:700;
line-height:1;
padding:2px 4px;
white-space:nowrap
}

sup {
line-height:1em
}

.main {
margin:auto;
max-width:90%;
width:52em
}

.main .header-bar {
padding:1em .2em .3em
}

img {
max-width:100%;
display:block;
margin-left:auto;
margin-right:auto
}

figcaption {
text-align:center;
font-size:.9em;
font-weight:700
}

iframe {
max-width:42em;
display:block;
margin-left:auto;
margin-right:auto
}

li {
margin:.5em;
line-height:1.6em
}

p {
line-height:1.4em
}

h1 {
font-size:2em;
font-weight:700;
margin-block:.67em
}

h2 {
font-size:1.5em;
font-weight:700
}

h3 {
font-size:1.17em;
font-weight:700
}

h4 {
font-size:1.12em;
font-weight:700
}

h5 {
font-size:.83em;
font-weight:700
}

h6 {
font-size:.75em;
font-weight:700
}

a:active,a:focus {
outline-style:solid;
outline-width:thin
}

header {
justify-content:space-around;
flex-direction:column
}

nav {
text-align:center;
display:-webkit-flex;
-webkit-justify-content:space-between;
-webkit-flex-flow:column;
display:flex;
justify-content:space-between;
flex-flow:column
}

.nav-item {
font-size:1.3em;
text-decoration:none;
font-weight:700
}

.nav-item-title {
padding:.2em
}

pre {
margin:1em 0;
padding:.5em
}

code {
white-space:pre-wrap;
white-space:-moz-pre-wrap;
white-space:-pre-wrap;
white-space:-o-pre-wrap;
word-wrap:break-word;
line-height:1.6em
}

blockquote {
padding:.5em;
padding-left:1em;
margin-left:.8em;
margin-right:.8em
}

.siteTitle {
font-size:2.5em;
margin-bottom:.2em
}

.articleheader_data {
display:-webkit-flex;
-webkit-justify-content:space-between;
-webkit-flex-flow:row wrap;
display:flex;
justify-content:space-between;
flex-flow:row wrap
}

.post .content {
padding:1em
}

.post {
margin-top:1.5em;
margin-bottom:1.5em
}

.post-footer-data {
display:-webkit-flex;
-webkit-flex-direction:column;
-webkit-align-items:flex-start;
display:flex;
flex-direction:column;
align-items:flex-start;
padding:1em
}

.post-footer hr {
width:100%
}

.post-footer-data .syndicate {
margin-top:.3em;
padding-bottom:.2em;
font-size:.9em;
font-weight:700
}

.post-footer-data .tag {
font-weight:700;
margin-bottom:1em
}

.post-footer-data .categories {
padding-top:.5em
}

.post-footer-data .category {
font-weight:700;
font-weight:bold;
display:inline-block
}

.post-footer-data .series {
padding-top:.5em;
padding-bottom:.5em
}

.content-item {
margin-top:.5em;
padding:.1em .3em .5em
}

.content-item .meta {
margin-top:.5em;
padding-top:.5em;
display:-webkit-flex;
display:flex;
flex-wrap:wrap;
flex-direction:column;
font-size:.7em
}

.content-item .tags {
margin-bottom:.3em;
font-weight:700
}

.content-item .date {
font-size:.7em;
font-weight:700;
white-space:nowrap;
text-align:right
}

.post-footer-menu {
display:-webkit-flex;
-webkit-justify-content:space-between;
display:flex;
justify-content:space-between;
font-size:.8em;
margin:.5em 4em
}

.copyright {
font-size:smaller;
text-align:center;
margin-top:1em
}

.poweredby {
font-size:smaller;
text-align:center
}

.poweredby a {
text-decoration:none;
text-decoration:underline
}

.err-404 {
margin:3em;
text-align:center
}

.social-links-header {
display:-webkit-flex;
-webkit-justify-content:center;
-webkit-flex-flow:row wrap;
display:flex;
justify-content:center;
flex-flow:row wrap
}

.social-links-footer {
text-align:center;
display:-webkit-flex;
-webkit-justify-content:center;
-webkit-flex-flow:row wrap;
display:flex;
justify-content:center;
flex-flow:row wrap;
margin-top:.5em
}

.social-link {
margin:.2em;
font-size:1.2em
}

.content-list {
font-size:1.2em
}

.content-list-date {
font-size:1.2em;
margin-top:.5em;
text-align:center
}

.post-list {
display:-webkit-flex;
-webkit-justify-content:center;
display:flex;
justify-content:space-between;
margin-top:.5em;
margin-bottom:.5em
}

.post-list .date {
margin:0;
font-size:.9em
}

.post-footer-data .series-name a {
font-weight:700;
text-decoration:none
}

.post-preview {
text-decoration:none;
padding:.5em .5em 1em;
margin-top:1.5em;
margin-bottom:1.5em
}

.post-preview .summary {
padding-left:.5em;
padding-right:.5em;
padding-top:.5em
}

.post-preview .summary p {
margin-block-start:.5em;
margin-block-end:.5em;
margin-inline-start:0;
margin-inline-end:0
}

.post-preview .meta {
font-size:.8em;
font-weight:700;
padding:.3em 1em .5em;
text-align:left;
display:flex;
flex-wrap:wrap;
justify-content:space-between
}

.post-preview .categories {
font-weight:700;
text-align:left;
display:inline-block
}

.post .metadata {
font-weight:600;
font-size:.8em;
text-align:left;
padding:1em;
line-height:1.6em
}

.rmore {
margin-top:.5em;
white-space:nowrap;
text-align:right
}

.rmore a {
border-radius:.2em;
padding:.3em
}

.terms {
border-radius:.2em;
width:50%;
margin:auto;
margin-bottom:1em
}

.terms a {
font-size:1.2em;
text-decoration:none
}

.page-nav {
display:-webkit-flex;
-webkit-justify-content:center;
-webkit-flex-flow:row wrap;
display:flex;
justify-content:center;
flex-flow:row wrap;
padding:1em;
font-weight:700
}

.page-num {
text-align:center;
margin-left:1em;
margin-right:1em
}

.content-list-title {
text-align:center;
margin-bottom:0
}

.sitemap {
margin:auto;
width:50%;
font-size:1.4em
}

.__h_instagram .card-header {
font-weight:700;
padding:.5em;
text-align:center
}

.author {
text-align:center;
vertical-align:middle;
line-height:1.8em;
text-align:center;
padding:0 .5em
}

.recent-post-item {
display:-webkit-flex;
display:flex;
flex-wrap:wrap;
justify-content:space-between;
margin-bottom:1em;
display:-webkit-flex;
display:flex;
flex-wrap:wrap;
justify-content:space-between;
margin-bottom:1em
}

.recent-post-item .date {
text-align:right;
display:inline;
text-align:right;
display:inline
}

.recent-project-list {
margin-bottom:6em;
padding:.5em
}

figure,.post-list .title {
margin:0
}

.nav-item-title:hover,.social-link:hover,.metadata .tags .tag a,.metadata .categories a,.metadata .series a,.metadata .syndicate a {
text-decoration:underline
}

th,td,.terms .term,.__h_instagram .card-body,.recent-post-list {
padding:.5em
}

.siteTitle a,.social-links-header a,.social-links-footer a,.content-item a,.post-footer-data .category a,.tag a,.post-preview a,.page-nav a,.content-list-title a,.term-list-title a {
text-decoration:none
}

.post .title,.post .date,.term-list-title {
text-align:center
}

.post .content h1,.post .content h2,.post .content h3,.post .content h4,.post .content h5 {
margin:1.2em 0
}

.post-footer-data .date,.post-footer-data .updated {
text-align:right;
margin-top:.3em;
padding-bottom:.2em;
font-size:.8em;
font-weight:700
}

.content-item .categories,.content-item .series,.post-preview .title {
margin-top:.3em;
margin-bottom:.3em
}

.content-item .category,.content-item .series-name {
font-weight:700;
display:inline-block
}

.post-prev a,.post-next a,.post-home a {
text-decoration:none;
font-weight:700
}

.post-footer-data .series-name,.tag {
display:inline-block
}

.post-preview .date,.post-preview .tags {
font-weight:700;
text-align:left
}

.recent-post-list > h3,.recent-project-list > h3 {
margin:0 0 -.7em
}

@media only screen and (min-width: 400px) {
nav {
flex-flow:row wrap
}

.siteTitle {
flex-grow:2;
text-align:left;
flex-basis:0
}

.nav-item-title {
font-size:.85em;
font-weight:700
}

.social-links-header {
font-size:.75em;
-webkit-justify-content:left;
-webkit-flex-flow:row wrap;
justify-content:left;
flex-flow:row wrap
}

.social-link {
font-weight:700
}

.social-links-footer {
text-align:center;
-webkit-justify-content:center;
-webkit-flex-flow:row wrap;
justify-content:center;
flex-flow:row wrap;
font-size:.75em
}
}

.alert-warning,.alert-caution,.alert-important,.alert-note,.alert-tip,.alert-heading {
font-weight:700;
padding-top:.01em;
padding-bottom:.01em
}

.related-content {
text-decoration:none;
padding:.5em;
margin-top:2em;
margin-bottom:1.5em
}

.related-content .title {
margin-top:.5em;
margin-left:.5em
}

details > summary {
padding:.3em;
text-decoration:underline
}
