{{ partial "header.html" . }}

<main>
  <div class="layout-grid">
    <div class="column-left">
      <div class="card">
        <h2>Experience</h2>
        {{ range .Site.Data.languages }}
        <p>
          <span class="icon-glow">{{ .icon }}</span> - {{ .lang }}: {{ .time }}
          years
        </p>
        {{ end }}
      </div>
      <div class="card">
        <h2>Socials</h2>
        {{ range .Site.Data.socials }}
        <p>
          <span class="icon-glow">{{ .icon }}</span> -
          <a href="{{ .link }}">{{ .site }}</a>
        </p>
        {{ end }}
      </div>
    </div>
    <div class="column-right">
      {{if .Site.Params.enable_separate_main_page }}
      <div class="card author">
        <h2>{{ .Site.Params.Author.name }}</h2>
        {{ .Site.Params.Author.intro | markdownify }}
      </div>

      <div class="card recent-post-list">
        <h3>Recent posts:</h3>
        {{ range first 3 (where .Site.RegularPages "Type" "in"
        site.Params.mainSections) }}
        <article class="post-preview">
          <header>
            <h2 class="title">
              <a href="{{ .Permalink }}"
                ><span class="icon-glow">{{ .Params.Icon }}</span> {{ .Title
                }}</a
              >
            </h2>
            <div class="meta">
              <div class="date">{{ .Date.Format "2006-01-02" }}</div>
              {{ partial "tags.html" . }}
            </div>
          </header>

          <div class="summary">{{ .Description }}</div>

          <div class="rmore">
            <a href="{{ .Permalink }}" class="rmore">Read more</a>
          </div>
        </article>
        {{ end }}
        <div class="rmore">
          <a href="/blog" style="background-color: var(--secondary-bg-color)"
            >See all posts</a
          >
        </div>
      </div>
      <div class="card recent-project-list">
        <h3>Projects:</h3>
        {{ range first 3 (where .Site.RegularPages "Type" "in" "projects") }}
        <article class="post-preview">
          <header>
            <h2 class="title">
              <a href="{{ .Permalink }}"
                ><span class="icon-glow">{{ .Params.Icon }}</span> {{ .Title
                }}</a
              >
            </h2>
            <div class="meta">
              <div class="date">{{ .Date.Format "2006-01-02" }}</div>
              {{ partial "tags.html" . }}
            </div>
          </header>

          <div class="summary">{{ .Description }}</div>

          <div class="rmore">
            <a href="{{ .Permalink }}" class="rmore">Read more</a>
          </div>
        </article>
        {{ end }}
        <div class="rmore">
          <a
            href="/projects"
            style="background-color: var(--secondary-bg-color)"
            >See all projects</a
          >
        </div>
      </div>
      {{ else }} {{ $paginator := .Paginate (where site.RegularPages "Type" "in"
      site.Params.mainSections) }} {{ range $paginator.Pages }} {{ .Render
      "summary" }} {{ end }} {{ partial "paginator-menu.html" . }} {{ end }}
    </div>
  </div>
</main>

{{ partial "footer.html" . }}
